.side-menu-header {
	background: #f4f4f4;
}
.right-sidebar ul {
	padding-left: 15px;
	list-style: none;
}
.right-sidebar ul li {
	padding: .6px 0;
	margin: 0;
	text-indent: 0;
}
.right-sidebar ul li a {
	background: url('../../images/list_point_red.png') no-repeat 0 0;
	background-position: 1px;
	padding: 0px;
	padding-left: 18px;
	color: #878787;
	font-weight: 700;
	font-size: 12px;
}
.right-sidebar ul li a:hover {
	color: #000;
}
.side-menu {
	margin-bottom: 10px;
	display: inline-block;
	width: 200px;
	white-space: normal;
	text-align: left;
}
.side-menu-header {
	background: #f3f3f3;
	border-bottom: none;
	border: 1px solid #ddd;
	border-radius: 2px 2px 0 0;
	color: #878787;
	text-shadow: 1px 1px 1px #fff;
	font-weight: 700;
	font-size: 14px;
	padding: 5px 15px;
}
.side-menu-body {
	background: #fff;
	border: 1px solid #ddd;
	border-top: none;
	border-radius: 0 0 2px 2px;
	padding: 10px 10px 15px;
}