.content {
    color: #676767;
}
.content h1 {
    text-align: center;
    padding: 20px 0;
    color: #4781a4;
    font-family: 'Open Sans', Tahoma, sans-serif;
}
.button {
    margin: 0 auto;
    cursor: pointer;
    background: #F4F4F4;
    height: 35px;
    width: auto;
    padding: 0 20px;
    color: #4D4D4D;
    font: bold 14px/35px sans-serif;
    border: 1px solid #DFDDDD;
    border-radius: 5px;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    font-weight: 600;
    text-transform: uppercase;
    box-shadow: 0 0 0 0 #500;
}
.registration-form {
    margin: 0 auto;
}
table.registration-form tr td {
    padding: 10px;
}
table.registration-form tr td:first-child {
    background-position: 0;
    color: #666;
    font-family: 'Open Sans', Tahoma, sans-serif;
    font-size: 16px;
    font-weight: 700;
    padding: 0px 10px;
    text-decoration: none;
    text-align: left;
}
@media(max-device-width:480px) {
    .registration-form {
        width: 100%;
    }
    table.registration-form tr {
        display: block;
        width: 100%;
    }
    table.registration-form td:last-child {
        margin-bottom: 10px;
    }
    table.registration-form td {
        display: block;
        width: auto;
    }
    .cart.right-cart {
        width: auto;
        padding: 0px;
        margin: 0px;
    }
    .cart.right-cart .total {
        display: block;
    }
    .btn-green, input.btn-green {
        width: auto;
        padding: 3px;
        margin: 3px;
        margin-bottom: 20px;
    }
    .pagination {
        display: none;
    }
}