.popup-checkbox, .popup {
  display: none;
}
.popup {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
}
.popup:before {
  display: block;
  content: ' ';
  position: absolute;
  z-index: 1;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #000;
  opacity: .5;
}
.popup-checkbox:checked + .popup {
  opacity: 1;
  display: block;
}
.popup-shower {
  color: #00f;
  cursor: pointer;
  text-decoration: underline;
}
.popup-shower:hover {
  color: #00a;
  text-decoration: underline;
}
.popup-closer {
  position: absolute;
  top: 5px;
  right: 5px;
  color: #999;
  font-size: 20px;
  border: 1px solid #999;
  display: block;
  width: 20px;
  height: 20px;
  line-height: 20px;
  text-align: center;
  border-radius: 50%;
  cursor: pointer;
  background: #ffcc00;
}
.popup-closer:hover {
  background-color: #eee;
}
.popup-content {
  width: 400px;
  height: 300px;
  position: absolute;
  z-index: 2;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: 20px;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.modal-body label {
  display: block;
}
.modal-body input[type=checkbox] {
  display: inline-block;
}
.modal-body input {
  display: block;
  margin-bottom: 10px;
  width:;
}
.form-title {
  width: 100%;
  background-color: #de360f;
  text-align: center;
  height: 46px;
  border-radius: 5px 5px 5px 5px;
  color: white;
  padding: 5px;
  margin-bottom: 10px;
}