.top-menu {
	background: #fbfbfb;
	border-bottom: 1px solid #e0e3e4;
	min-height: 35;
	display: inline-flex;
	padding: 10px 20px 0;
}
.top-menu ul {
	list-style-type: none;
}
.top-menu ul li {
	float: left;
	padding-bottom: 5px;
}
.top-menu ul li a, label.popup-shower {
	background-position: 0;
	color: #666;
	font-family: 'Open Sans', Tahoma, sans-serif;
	font-size: 13px;
	font-weight: 700;
	padding: 0px 10px;
	text-decoration: none;
}
.top-menu ul li a:hover, label.popup-shower:hover {
	color: #000;
	text-decoration: none;
}
.top-menu ul li:first-child a {
	background: none;
}
.top-menu-right {
	float: right;
	text-align: right;
	width: 400px;
}
.top-menu-right ul {
	display: inline-block;
	float: right;
}
.top-menu-right ul li {
	display: inline-block;
	padding-left: 0;
	padding-right: 0;
}
.top-menu-right ul li a {
	background: none;
	color: #666;
	display: inline-block;
	font-family: 'Open Sans', Tahoma, sans-serif;
	font-weight: 700;
	padding: 0;
	padding-left: 3px;
}
.top-menu-frm {
	float: right;
}
input[type=text].search {
	background: #fff;
	border: 1px solid #ddd;
	border-radius: 3px;
	color: #999;
	font-size: 11px;
	height: 22px;
	left: 30px;
	padding-left: 10px;
	padding-right: 50px;
	padding-top: 3px;
	position: relative;
	width: 110px;
}
input.search-btn {
	background: url(../../images/input_find.png) no-repeat center;
	border: none;
	position: relative;
	right: 10px;
	top: 3px;
	width: 30px;
}
.main-menu h1 {
	color: #FFF;
	padding: 5px;
}