.account.photo {
    border-radius: 10px;
    min-height: 100px;
    min-width: :100px;
    overflow: hidden;
    background: url('../images/pages/account_no_photo.jpg') no-repeat center;
    background-size: 150px auto;
    padding: 10px;
}
.account-form-table {
    margin: 0 auto;
}
.content {
    color: #676767;
}
.account.photo {
    padding: 5px;
}
.account.photo a {
    padding: 10px;
}
#link-next-product {
    display: none;
}
#link-home {
    display: none;
}
.content h1 {
    text-align: center;
    padding: 20px 0;
    color: #4781a4;
    font-family: 'Open Sans', Tahoma, sans-serif;
}
table.account-form-table tr td {
    padding: 30px;
}
table.account-form-table tr td:first-child {
    background-position: 0;
    color: #666;
    font-family: 'Open Sans', Tahoma, sans-serif;
    font-size: 16px;
    font-weight: 700;
    padding: 0px 10px;
    text-decoration: none;
    text-align: left;
}
.photo-pnl {
    margin: 0 auto;
    text-align: center;
}
.photo-pnl a {
    margin: 10px;
}
.button {
    margin: 0 auto;
    cursor: pointer;
    background: #F4F4F4;
    height: 35px;
    width: auto;
    padding: 0 20px;
    color: #4D4D4D;
    font: bold 14px/35px sans-serif;
    border: 1px solid #DFDDDD;
    border-radius: 5px;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    font-weight: 600;
    text-transform: uppercase;
    box-shadow: 0 0 0 0 #500;
}
@media(max-device-width:480px) {
    .account-form-table {
        width: 100%;
    }
    table.account-form-table tr {
        display: block;
        width: 100%;
    }
    table.account-form-table td:first-child {
        border: 1px solid #ff9900;
        border-radius: 4px;
        display: block;
        width: auto;
        background-color: #ffcc00;
    }
    table.account-form-table td:last-child {
        margin-bottom: 10px;
        border-bottom: 1px solid #cdcdcd;
    }
    table.account-form-table td {
        display: block;
        width: auto;
    }
    .cart.right-cart {
        width: auto;
        padding: 0px;
        margin: 0px;
    }
    .cart.right-cart .total {
        display: block;
    }
    .btn-green, input.btn-green {
        width: auto;
        padding: 3px;
        margin: 3px;
        margin-bottom: 20px;
    }
    .pagination {
        display: none;
    }
}