.cart .items {
    display: block;
    padding: 0;
    box-shadow: 0 -5px 43px -10px #ccc;
}
.cart .item {
    display: block;
    border-bottom: 1px solid #E5E5E5;
    padding: 20px 0;
}
input {
    vertical-align: middle;
    outline: none;
}
.remove {
    display: inline-block;
    text-indent: -999999px;
    background: url('../images/pages/sprite_remove_btn.png') 0 0 no-repeat;
    width: 14px;
    height: 13px;
    margin: 5px;
}
.remove:hover {
    background-position: 0 -13px;
}
.minus {
    display: inline-block;
    background: url('../images/pages/sprite_plus_minus.png') 0 0 no-repeat;
    width: 36px;
    height: 35px;
    text-indent: -9999px;
    position: relative;
    z-index: 2;
    vertical-align: middle;
}
.minus:hover {
    background-position: 0 -35px;
}
.plus {
    display: inline-block;
    background: url('../images/pages/sprite_plus_minus.png') -36px 0 no-repeat;
    width: 36px;
    height: 35px;
    text-indent: -9999px;
    position: relative;
    z-index: 2;
    vertical-align: middle;
}
.plus:hover {
    background-position: -36px -35px;
}
.inputbox {
    background: url('../images/pages/fon_count_product.png') 0 0 repeat-x;
    border: none;
    box-shadow: none;
    padding: 0;
    width: 40px;
    text-align: center;
    border-radius: 5px;
    position: relative;
    z-index: 1;
    margin: 0 -4px;
    height: 34px;
    border: 1px solid #cdcdcd;
}
.button {
    cursor: pointer;
    background: #F4F4F4;
    height: 35px;
    width: auto;
    padding: 0 20px;
    color: #4D4D4D;
    font: bold 14px/35px sans-serif;
    border: 1px solid #DFDDDD;
    border-radius: 5px;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    font-weight: 600;
    text-transform: uppercase;
    box-shadow: 0 0 0 0 #500;
}
table.cart.product-table {
    text-align: left;
    border-collapse: collapse;
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 5px;
}
table.cart.product-table td {
    vertical-align: top;
}
table.cart.product-table td:first-child {
    vertical-align: middle;
}
table.cart.product-table td:nth-child(2) {
    text-align: center;
}
.title {
    text-align: center;
}
table.cart.product-table td:last-child {
    text-align: center;
}
.cart.product-table tr {
    margin-bottom: 10px;
    border-spacing: 0 5px;
    border-radius: 5px;
}
.cart.product-table td:first-child {
    border-left-width: 3px;
    border-radius: 5px 0 0 5px;
}
.cart.product-table td:last-child {
    border-right-width: 3px;
    border-radius: 0 5px 5px 0;
}
.cart.right-cart {
    float: right;
    margin: 0;
    padding: 25px 20px;
    width: auto;
}
th.col-remove {
    width: 15px;
}
th.col-photo {
    width: 100px;
}
th.col-description {
    text-align: left;
}
th.col-count {
    width: 150px;
}
.cart.product-table td {
    padding: 10px;
}
.cart .button {
    padding: 0 45px;
    display: inline-block;
}
.btn-green, input.btn-green:hover {
    background: #75aa23;
}
.btn-green, input.btn-green {
    background: #84BD2B;
    color: #fff !important;
    border-color: #84BD2B;
    width: 100px;
}
.btn-green:hover, input.btn-green:hover {
    background: #ffcc00;
    color: #000 !important;
    border: 1px solid #ff9900;
}
@media(max-device-width:768px) {
    .desc {
        display: none;
    }
}
@media(max-device-width:480px) {
    .total {
        display: none;
    }
    .price {
        display: block;
    }
    table.cart.product-table tr {
        display: block;
        width: 100%;
    }
    table.cart.product-table td:first-child {
        border: 1px solid #ff9900;
        border-radius: 4px;
        display: block;
        width: auto;
        background-color: #ffcc00;
    }
    table.cart.product-table td:last-child {
        margin-bottom: 10px;
        border-bottom: 1px solid #cdcdcd;
    }
    table.cart.product-table td {
        display: block;
        width: auto;
    }
    .cart.right-cart {
        width: auto;
        padding: 0px;
        margin: 0px;
    }
    .cart.right-cart .total {
        display: block;
    }
    .btn-green, input.btn-green {
        width: auto;
        padding: 3px;
        margin: 3px;
        margin-bottom: 20px;
    }
    .pagination {
        display: none;
    }
}