.product-pnl {
	border: 1px solid #ddd;
	border-radius: 2px;	/*float: left;*/
	margin: 0 5px;
	margin-bottom: 15px;
	padding: 0;
	display: block;
	width: auto;
}
.product-header-pnl {
	background: #f3f3f3;
	border-bottom: 1px solid #ddd;
	color: #111;
	font-size: 13px;
	font-weight: 700;
	margin: 0;
	padding: 5px 10px;
	text-shadow: 1px 1px 1px #fff;
}
.product-header-pnl a {
	display: block;
}
.priduct-body-pnl {
	height: 167px;
	padding: 10px;
	width: auto;
}
.product-img-pnl {
	background: #fff;
	border: 1px solid #ddd;
	height: 100px;
	margin: 0 auto;
	position: relative;
	text-align: center;
	width: auto;
}
.product-img-pnl img {
	display: inline-block;
	height: 92px;
	width: 92px;
}
.product-price {
	background: #de360f;
	bottom: 0;
	color: #FFF;
	display: inline-block;
	font-family: Arial, Helvetica, san-serif;
	font-size: 15px;
	font-weight: 700;
	height: 20px;
	left: 0;
	padding: 2px 5px 0;
	position: absolute;
}
a.product-btn-more, a.product-btn-add {
	border-radius: 3px;
	border: 1px solid #ddd;
	color: #838383;
	display: block;
	font-family: Arial, Helvetica, san-serif;
	font-size: 9px;
	height: 23px;
	letter-spacing: 3px;
	line-height: 24px;
	margin-top: 10px;
	text-align: center;
	text-shadow: 1px 1px 1px #fff;
	width: auto;
}
a.product-btn-add {
	background: url(../../images/buttons/btn_light.png);
}
a.product-btn-add:hover {
	background: url(../../images/buttons/btn_dark.png);
	color: #000;
}
a.product-btn-more {
	background: url(../../images/buttons/btn_dark.png);
}
a.product-btn-more:hover {
	background: url(../../images/buttons/btn_light.png);
	color: #000;
}
