.top-menu {
	background: #fbfbfb;
	border-bottom: 1px solid #e0e3e4;
	height: auto;
	display: block;
	padding: 10px 20px 0;
}
.top-menu ul {
	list-style-type: none;
}
.top-menu ul:first-child {
	display: block;
}
.top-menu ul:first-child li {
	display: inline-block;
	padding-left: 0;
	padding-right: 0;
}
.top-menu ul li {
	padding-bottom: 5px;
}
.top-menu ul li a, label.popup-shower {
	background-position: 0;
	color: #666;
	font-family: 'Open Sans', Tahoma, sans-serif;
	font-size: 13px;
	font-weight: 700;
	padding: 0px 10px;
	text-decoration: none;
}
.top-menu ul li a:hover, label.popup-shower:hover {
	color: #000;
	text-decoration: none;
}
.top-menu ul li:first-child a {
	background: none;
}
.top-menu-right {
	display: block;
	width: auto;
}
.top-menu-right ul {
	text-align: center;
}
.top-menu-right ul {
	margin: 0 auto;
}
.top-menu-right ul li {
	display: inline-block;
	padding-left: 0;
	padding-right: 0;
}
.top-menu-right ul li a {
	display: block;
	background: none;
	color: #666;
	font-family: 'Open Sans', Tahoma, sans-serif;
	font-weight: 700;
	padding: 0;
	padding-left: 3px;
}
.top-menu-frm {
	text-align: center;
	width: auto;
	padding: 3px;
	position: relative;
	float: r
}
input[type=text].search {
	background: #fff;
	border: 1px solid #ddd;
	border-radius: 3px;
	color: #999;
	font-size: 11px;
	height: 22px;
	padding-right: 10px;
	padding-left: 10px;
	padding-top: 3px;
	position: relative;
	width: auto;
	clear: both;
}
input.search-btn {
	background: url(../../images/input_find.png) no-repeat center;
	border: none;
	padding: 3px;
	width: 30px;
	z-index: 40;
}
.main-menu h1 {
	color: #FFF;
	padding: 5px;
}
