.main-menu {
	width: 100%;
	background-color: #de360f;
	height: 46px;
	border-radius: 5px 5px 5px 5px;
	margin: 15px 0 5px 0;
}
.main-menu ul {
	list-style: none;
}
.main-menu ul li {
	background: url('../../images/main_menu_delimiter.png') no-repeat scroll right center transparent;
	float: left;
	border-right: 2px gray;
}
.main-menu a {
	display: inline-block;
	text-decoration: none;
	font-size: 13px;
	font-family: 'Open Sans', Tahoma, sans-serif;
	font-weight: 700;
	color: #fff;
	padding: 15px 15px 15px 14px;
}
.main-menu a:hover {
	color: #fc0;
}
.main-menu li:first-child a {
	background: none;
	color: #fc0;
}
.mycart a {
	font-size: 16px;
	padding: 0px;
	display: block;
	font-weight: 700;
	font-family: 'Open Sans', Tahoma, sans-serif;
	color: #111;
	margin: 0;
}
.mycart a:hover {
	color: #111;
}
.main-menu-cart .mycart {
	position: relative;
	top: -5px;
	border-radius: 4px;
	float: right;
	margin-right: 10px;
	height: 30px;
	background: #ffcc00 url('../../images/cart.png') no-repeat 8px center;
	border: 1px solid #ff9900;
	color: #111;
	padding: 12px 12px 12px 45px;
}
#title-total-price {
	font-family: 'Open Sans', Tahoma, sans-serif;
	font-size: 13px;
}
.modal-body label {
	display: block;
}
.modal-body input[type=checkbox] {
	display: inline-block;
}
.modal-body input {
	display: block;
	margin-bottom: 10px;
	width:;
}